body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background:
            url(../img/top_left_bg.png) 0 0 no-repeat,
            url(../img/bottom_right_bg.png) 100% 0% no-repeat;
}
.container {
    padding: 5px;
    background-color: rgba(100, 75, 100, 0.1);
    width: 900px;
    margin: auto;
    display: block;
}
.copyrt {
    margin: auto;
    text-align: center;
}
.tabs {
    padding-top: 5px;
    margin: auto;
    text-align: center;
}
.tabElement{
    display: inline;
    /*width: 195px;*/
    /*margin-left: 1px;*/
}
.tabLink {
    text-decoration: none;
    color: black;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;
}
.tabLink:link, .tabLink:visited{
    background-color: rgba(125, 100, 125, 0.6);
}
.tabLink:hover {
    background-color: rgba(75, 50, 75, 0.6);
}
.tabLink:active {
    background-color: rgba(50, 25, 50, 0.6);
}
.tabLink2, .tabLink2:link, .tabLink2:visited {
    text-decoration: none;
    color: black;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgba(75, 75, 125, 0.6);
}
#devicesTable {
    border-collapse: collapse;
    margin: auto;
    padding: 0;
}
#devicesTable tr td {
    padding: 5px;
    border: 1px solid black;
}